<img {{bind-attr src="image"}}/>
<canvas></canvas>
<div class="squiggle-paper">

  <textarea {{bind-attr style="textStyle"}}></textarea>
</div>

{{#if showTools}}
  <div class="squiggle-tools">
    {{#if isFirstPalette}}
      <!-- show selected color -->
      <div class="squiggle-colors">
        <div class="squiggle-color" {{bind-attr style="color.style"}} {{action "selectColor" color}}></div>
      </div>

      <!-- show selected size -->
      <div class="squiggle-sizes">
        <div {{bind-attr class=":squiggle-size smallSize:small"}} {{action "selectSize"}}>
          <div class="bar" {{bind-attr style="color.style"}}></div>
        </div>
      </div>

      <!-- show selected tool -->
      <div class="squiggle-brushes">
        <div {{bind-attr class=":squiggle-brush tool.name"}} {{action "selectTool"}}></div>
      </div>
    {{else}}
      {{#if showColors}}
        <div class="squiggle-colors">
          {{#each color in colors}}
            <div {{bind-attr class=":squiggle-color color.selected:active" style="color.style"}} {{action "selectColor" color}}>
            </div>
          {{/each}}
        </div>
      {{/if}}
      {{#if showSizes}}
        <div class="squiggle-sizes">
          <div {{bind-attr class=":squiggle-size :small smallSize:active"}} {{action "selectSize" "small"}}>
            <div class="bar" {{bind-attr style="color.style"}}></div>
          </div>
          <div {{bind-attr class=":squiggle-size smallSize::active" }} {{action "selectSize" "large"}}>
            <div class="bar" {{bind-attr style="color.style"}}></div>
          </div>
        </div>
      {{/if}}
      {{#if showBrushes}}
        <div class="squiggle-brushes">
          {{#each tool in tools}}
            <div {{bind-attr class=":squiggle-brush tool.name tool.isActive:active"}} {{action "selectTool" tool}}>
              {{#if tool.buttonTemplate}}
                {{partial tool.buttonTemplate}}
              {{/if}}
            </div>
          {{/each}}
        </div>
      {{/if}}
    {{/if}}
  </div>
{{/if}}