<img src={{image}} />
<canvas></canvas>
<div class="squiggle-paper">

  <textarea style={{textStyle}}></textarea>
</div>

{{#if showTools}}
  <div class="squiggle-tools">
    {{#if isFirstPalette}}
      <!-- show selected color -->
      <div class="squiggle-colors">
        <div class="squiggle-color" style={{color.style}} {{action "selectColor" color}}></div>
      </div>

      <!-- show selected size -->
      <div class="squiggle-sizes">
        <div class="squiggle-size {{if smallSize 'small'}}" {{action "selectSize"}}>
          <div class="bar" style={{color.style}}></div>
        </div>
      </div>

      <!-- show selected tool -->
      <div class="squiggle-brushes">
        <div class="squiggle-brush {{tool.name}}" {{action "selectTool"}}>
          {{#if tool.buttonTemplate}}
            {{partial tool.buttonTemplate}}
          {{/if}}
        </div>
      </div>
    {{else}}
      {{#if showColors}}
        <div class="squiggle-colors">
          {{#each colors as |color|}}
            <div class="squiggle-color {{if color.selected 'active'}}" style={{color.style}} {{action "selectColor" color}}>
            </div>
          {{/each}}
        </div>
      {{/if}}
      {{#if showSizes}}
        <div class="squiggle-sizes">
          <div class="squiggle-size small {{if smallSize active}}" {{action "selectSize" "small"}}>
            <div class="bar" style={{color.style}}></div>
          </div>
          <div class="squiggle-size {{unless smallSize 'active'}}" {{action "selectSize" "large"}}>
            <div class="bar" style={{color.style}}></div>
          </div>
        </div>
      {{/if}}
      {{#if showBrushes}}
        <div class="squiggle-brushes">
          {{#each tools as |tool|}}
            <div class="squiggle-brush {{tool.name}} {{if tool.isActive 'active'}}" {{action "selectTool" tool}}>
              {{#if tool.buttonTemplate}}
                {{partial tool.buttonTemplate}}
              {{/if}}
            </div>
          {{/each}}
        </div>
      {{/if}}
    {{/if}}
  </div>
{{/if}}