<img {{bind-attr src="image"}} crossOrigin=""/>
<canvas></canvas>
<div class="squiggle-paper">

  <textarea {{bind-attr style="textStyle"}}></textarea>
</div>

{{#if showTools}}
  <div class="squiggle-tools">
    {{#if isFirstPalette}}
      <!-- show selected color -->
      <div class="squiggle-colors">
        <div class="squiggle-color" {{bind-attr style="color.style"}} {{action "selectColor" color}}></div>
      </div>

      <!-- show selected size -->
      <div class="squiggle-sizes">
        <div {{bind-attr class=":squiggle-size smallSize:small"}} {{action "selectSize"}}>
          <div class="bar" {{bind-attr style="color.style"}}></div>
        </div>
      </div>

      <!-- show selected tool -->
      <div class="squiggle-brushes">
        <div {{bind-attr class=":squiggle-brush selectedToolClass"}} {{action "selectTool" toolName}}></div>
      </div>
    {{else}}
      {{#if showColors}}
        <div class="squiggle-colors">
          {{#each color in colors}}
            <div {{bind-attr class=":squiggle-color color.selected:active" style="color.style"}} {{action "selectColor" color}}>
            </div>
          {{/each}}
        </div>
      {{/if}}
      {{#if showSizes}}
        <div class="squiggle-sizes">
          <div {{bind-attr class=":squiggle-size :small smallSize:active"}} {{action "selectSize" "small"}}>
            <div class="bar" {{bind-attr style="color.style"}}></div>
          </div>
          <div {{bind-attr class=":squiggle-size smallSize::active" }} {{action "selectSize" "large"}}>
            <div class="bar" {{bind-attr style="color.style"}}></div>
          </div>
        </div>
      {{/if}}
      {{#if showBrushes}}
        <div class="squiggle-brushes">
          <div {{bind-attr class=":squiggle-brush :squiggle-eraser isEraserTool:active"}} {{action "selectTool" "eraser"}}></div>
          <div {{bind-attr class=":squiggle-brush :squiggle-path isPathTool:active"}} {{action "selectTool" "path"}}></div>
          <div {{bind-attr class=":squiggle-brush :squiggle-marker isMarkerTool:active"}} {{action "selectTool" "marker"}}></div>
          <div {{bind-attr class=":squiggle-brush :squiggle-text isTextTool:active"}} {{action "selectTool" "text"}}></div>
          <div {{bind-attr class=":squiggle-brush :squiggle-nav isNavTool:active"}} {{action "selectTool" "nav"}}></div>
        </div>
      {{/if}}
    {{/if}}
  </div>
{{/if}}